.main-content1 {
	margin-bottom: 50px;
}

.main-content1-title {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-align: center; 
	padding: 20px 0; 
	font-size: 1.4 em
}

.main-content2 {
	background-color:#f0f0ed;
}

.technique-img {
	margin-top:10px;
	margin-bottom: 10px;
}

.technique-text{
	font-size: 16px;
	font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
}

.testimonial {
	padding: 0px;
}

.testimonial-content {
	max-width: 500px;
	border:3px solid #188080;
	border-radius: 10px;
}